<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="site" type="cn.kevinlu98.cloud.freewindcloud.common.Website"*/-->
<head th:replace="common::head"><title></title></head>

<body>
<div id="loading">
    <div id="loading-center">
    </div>
</div>
<!--/*@thymesVar id="loginUser" type="cn.kevinlu98.cloud.freewindcloud.pojo.User"*/-->
<div class="wrapper" th:with="loginUser=${#authentication.principal.loginUser}">

    <div th:replace="common::sidebar"></div>
    <div th:replace="common::navbar"></div>

    <div class="content-page">
        <div class="container-fluid">
            <div th:replace="common::message"></div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body p-0">
                            <div class="iq-edit-list usr-edit">
                                <ul class="iq-edit-profile d-flex nav nav-pills">
                                    <li class="col-md-6 p-0">
                                        <a class="nav-link active" data-toggle="pill" href="#personal-information">
                                            个人信息
                                        </a>
                                    </li>
                                    <li class="col-md-6 p-0">
                                        <a class="nav-link" data-toggle="pill" href="#chang-pwd">
                                            修改密码
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="iq-edit-list-data">
                        <div class="tab-content">
                            <div class="tab-pane fade active show" id="personal-information" role="tabpanel">
                                <div class="card">
                                    <div class="card-header d-flex justify-content-between">
                                        <div class="iq-header-title">
                                            <h4 class="card-title">基本信息</h4>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <form th:action="@{/user/save}" method="post">
                                            <div class="form-group row align-items-center">
                                                <div class="col-md-12">
                                                    <div class="profile-img-edit">
                                                        <div class="crm-profile-img-edit">
                                                            <img class="crm-profile-pic rounded-circle avatar-100"
                                                                 id="avatar-show"
                                                                 th:src="${loginUser.avatar}" alt="profile-pic" src="">
                                                            <input type="hidden" name="avatar" id="avatar-hidden"
                                                                   th:value="${loginUser.avatar}">
                                                            <div class="crm-p-image bg-primary">
                                                                <i class="las la-pen upload-button"></i>
                                                                <input class="file-upload" type="file"
                                                                       id="avatar-inpit"
                                                                       accept="image/*">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class=" row align-items-center">
                                                <div class="col-sm-6">
                                                    <div class="form-group col-sm-12">
                                                        <label for="username">用户名:</label>
                                                        <input type="text" class="form-control" id="username"
                                                               th:if="${loginUser.role == T(cn.kevinlu98.cloud.freewindcloud.common.enums.Role).ROLE_ADMIN.getValue()}"
                                                               name="username" required
                                                               th:value="${loginUser.username}">
                                                        <input type="text" class="form-control" id="username" disabled
                                                               required
                                                               th:if="${loginUser.role != T(cn.kevinlu98.cloud.freewindcloud.common.enums.Role).ROLE_ADMIN.getValue()}"
                                                               th:value="${loginUser.username}">
                                                    </div>
                                                    <div class="form-group col-sm-12">
                                                        <label for="nickname">昵称:</label>
                                                        <input type="text" class="form-control" id="nickname" required
                                                               name="nickname" th:value="${loginUser.nickname}">
                                                    </div>
                                                    <div class="form-group col-sm-12">
                                                        <label for="email">邮箱:</label>
                                                        <input type="email" class="form-control" id="email" name="email"
                                                               required
                                                               th:value="${loginUser.email}">
                                                    </div>
                                                    <div class="form-group col-sm-12">
                                                        <label for="size">我的容量:</label>
                                                        <input type="email" class="form-control" id="size" disabled
                                                               th:value="${T(cn.kevinlu98.cloud.freewindcloud.common.enums.Size).BTrim.convert(loginUser.size)}">
                                                    </div>
                                                    <div class="form-group col-sm-12">
                                                        <label for="limit">上传限制:</label>
                                                        <input type="email" class="form-control" id="limit" disabled
                                                               th:value="${T(cn.kevinlu98.cloud.freewindcloud.common.enums.Size).BTrim.convert(loginUser.limitSize)}">
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-primary mr-2">确认更新</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="chang-pwd" role="tabpanel">
                                <div class="card">
                                    <div class="card-header d-flex justify-content-between">
                                        <div class="iq-header-title">
                                            <h4 class="card-title">修改密码</h4>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <form th:action="@{/user/pass}" method="post">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="cpass">当前密码:</label>
                                                        <input type="Password" class="form-control" name="cpass"
                                                               id="cpass" required
                                                               value="">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="npass">新密码:</label>
                                                        <input type="Password" class="form-control" name="npass"
                                                               id="npass" required
                                                               value="">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="vpass">确认密码:</label>
                                                        <input type="Password" class="form-control" name="vpass"
                                                               id="vpass" required
                                                               value="">
                                                    </div>
                                                    <button type="submit" class="btn btn-primary mr-2">确认修改</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="common::footer"></div>
<div th:include="common::script"></div>
<div th:replace="common::modal"></div>
<script>
    $(function () {
        $("#avatar-inpit").on('change', function () {
            let csrf = $("#spring-csrf");
            let formData = new FormData();
            formData.append("file", this.files[0])
            formData.append(csrf.attr("name"), csrf.val())
            $.ajax({
                url: "/user/avatar",
                type: "post",
                dataType: "json",
                cache: false,
                data: formData,
                processData: false,// 不处理数据
                contentType: false, // 不设置内容类型
                success: res => {
                    if (res.success) {
                        $("#avatar-show").attr("src", res.data)
                        $("#avatar-hidden").val(res.data)
                    }
                }
            })
        })
    })
</script>
</body>
</html>
