<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="site" type="cn.kevinlu98.cloud.freewindcloud.common.Website"*/-->
<head th:replace="common::head"><title></title></head>

<body>
<div id="loading">
    <div id="loading-center">
    </div>
</div>
<!--/*@thymesVar id="loginUser" type="cn.kevinlu98.cloud.freewindcloud.pojo.User"*/-->
<div class="wrapper" th:with="loginUser=${#authentication.principal.loginUser}">

    <div th:replace="common::sidebar"></div>
    <div th:replace="common::navbar"></div>

    <div class="content-page">
        <div class="container-fluid">
            <div th:replace="common::message"></div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="iq-edit-list-data">
                        <div class="tab-content">
                            <div class="tab-pane fade active show" id="personal-information" role="tabpanel">
                                <div class="card">
                                    <div class="card-header d-flex justify-content-between">
                                        <div class="iq-header-title">
                                            <h4 class="card-title">用户管理 <a class="btn btn-success"
                                                                           th:href="@{/user/add}"><i
                                                    class="fa fa-plus"></i>新增</a></h4>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <table class="table table-bordered table-striped">
                                            <thead>
                                            <tr>
                                                <th>用户id</th>
                                                <th>用户头像</th>
                                                <th>用户名</th>
                                                <th>用户昵称</th>
                                                <th>用户权限</th>
                                                <th>用户邮箱</th>
                                                <th>用户容量</th>
                                                <th>用户上传限制</th>
                                                <th>操作</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="user:${userPage.getData()}">
                                                <td th:text="${user.id}"></td>
                                                <td>
                                                    <img class="avatar-30 rounded-circle" th:src="${user.avatar}"
                                                         alt="">
                                                </td>
                                                <td th:text="${user.username}"></td>
                                                <td th:text="${user.nickname}"></td>
                                                <td th:text="${T(cn.kevinlu98.cloud.freewindcloud.common.enums.Role).find(user.role).getDesc()}"></td>
                                                <td th:text="${user.email}"></td>
                                                <td th:text="${user.size}"></td>
                                                <td th:text="${user.limitSize}"></td>
                                                <td>
                                                    <a class="btn btn-sm btn-primary"
                                                       th:href="@{/user/edit/{id}(id=${user.id})}"><i
                                                            class="fa fa-edit"></i>编辑用户
                                                    </a>
                                                    <button class="btn btn-sm btn-warning"><i class="fa fa-cog"></i>重置密码
                                                    </button>
                                                    <button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i>删除
                                                    </button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <ul class="pagination">
                                            <li th:if="${userPage.page>1}" class="page-item">
                                                <a class="page-link" th:href="@{/user/list/(page=${userPage.page -1})}">
                                                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                                                </a>
                                            </li>
                                            <li th:class="${page==userPage.page?'page-item active':'page-item'}"
                                                th:each="page:${#numbers.sequence(1,userPage.totalPage)}">
                                                <a class="page-link" th:href="@{/user/list/(page=${page})}"
                                                   th:text="${page}"></a>
                                            </li>
                                            <li class="page-item" th:if="${userPage.page<userPage.totalPage}">
                                                <a class="page-link" th:href="@{/user/list/(page=${userPage.page+1})}">
                                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="common::footer"></div>
<div th:include="common::script"></div>
<div th:replace="common::modal"></div>
<script>

</script>
</body>
</html>
